<div class="app-body-page">
    <div class="w-full mb-4">
        <span style="font-size: 1.6rem;">
            Transfer
        </span>
    </div>
    <div class="w-full mb-3">
        <div class="grid">
            <div class="col-6 md:col-4 lg:col-3">
                <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" [filter]="true" filterBy="code"
                    [styleClass]="'w-full text-2xl'" placeholder="Select Currency">
                    <ng-template pTemplate="selectedItem" let-selectedCurrency>
                        <div class="flex align-items-center gap-2" *ngIf="selectedCurrency != undefined">
                            <img src="./../../../assets/currencies/{{selectedCurrency.code}}.png" style="width: 20px" />
                            {{ selectedCurrency.code}}
                        </div>
                    </ng-template>
                    <ng-template let-currency pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img src="./../../../assets/currencies/{{currency.code}}.png" style="width: 20px" />
                            <div>{{ currency.code }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-6 md:col-4 lg:col-9"></div>
        </div>
    </div>
    <div class="w-full mb-3">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <p-panel header="Select Token">
                    <div class="w-full mb-5">
                        <div class="flex flex-column gap-2">
                            <label for=""><b>Source:</b></label>
                            <div class="grid">
                                <div class="col-12 md:col-8 lg:col-7">
                                    <p-inputNumber [styleClass]="'w-full transfer-form-input-field'" class="w-full"
                                        [minFractionDigits]="0" [maxFractionDigits]="18" [placeholder]="'0.00'"
                                        [(ngModel)]="transferAmount"></p-inputNumber>
                                    <!-- <div class="w-full mt-3">
                                    <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                                        Max (100%)
                                    </button>
                                    <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                                        75%
                                    </button>
                                    <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                                        50%
                                    </button>
                                    <button type="button" pButton class="p-button p-button-secondary p-button-sm">
                                        25%
                                    </button>
                                </div> -->
                                </div>
                                <div class="col-12 md:col-4 lg:col-5">
                                    <div class="w-full">
                                        <p-dropdown [options]="assets" [(ngModel)]="selectedAsset" [filter]="true"
                                            filterBy="metadata.symbol" [styleClass]="'w-full text-2xl'"
                                            placeholder="Select Token" (onChange)="selectAssetOnChange($event)">
                                            <ng-template pTemplate="selectedItem">
                                                <div class="flex align-items-center gap-2"
                                                    *ngIf="selectedAsset != undefined">
                                                    <img src="./../../../assets/crypto/{{selectedAsset.metadata.symbol}}.png"
                                                        height="20" />
                                                    <div class="text-2xl">
                                                        {{ selectedAsset.metadata.symbol }}
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-asset pTemplate="item">
                                                <div class="flex align-items-center gap-2">
                                                    <img src="./../../../assets/crypto/{{asset.metadata.symbol}}.png"
                                                        style="width: 30px" />
                                                    <div><b>{{ asset.metadata.symbol }}</b> ({{ asset.metadata.name }})
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <small id="">
                                <b>Balance:</b>
                                {{decimalPipe.transform(assetSourceBalance != undefined ? assetSourceBalance.balance :
                                0,
                                "1.5-5") ||
                                "0"}}
                                {{assetSourceBalance != undefined ? assetSourceBalance.asset.metadata.symbol : ''}}
                            </small>
                        </div>
                    </div>
                    <div class="w-full mb-5">
                        <div class="flex flex-column gap-2">
                            <label for=""><b>Destination Address:</b></label>
                            <input type="text" pInputText [(ngModel)]="destinationAddress" class="w-full" />
                        </div>
                    </div>
                    <div class="w-full mb-3">
                        <p-button label="Submit" [styleClass]="'w-full'" [rounded]="true" [size]="'large'"
                            (onClick)="transferExtrinsics()"></p-button>
                    </div>
                </p-panel>
            </div>
            <div class="col-12 md:col-6 lg:col-6"></div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showProcessModal" [style]="{width: '60vw'}" [modal]="true" [closable]="false">
    <div class="w-full text-center">
        <div class="w-full" *ngIf="executionExtrinsicsStatus == undefined">
            <p-progressSpinner></p-progressSpinner>
            <div class="w-full mt-3" style="white-space: pre-wrap;">
                Processing
            </div>
        </div>
        <div *ngIf="executionExtrinsicsStatus != undefined">
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == false">
                <i class="pi pi-check" style="font-size: 5rem; font-weight: bold; color: rgb(119, 255, 119);"></i>
            </div>
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == true">
                <i class="pi pi-times" style="font-size: 5rem; font-weight: bold; color: rgb(202, 74, 74);"></i>
            </div>
            <div class="w-full mb-3" style="white-space: pre-wrap;">
                {{executionExtrinsicsStatus.message}}
            </div>
            <button pButton type="button" label="Okay" class="p-button"
                (click)="showProcessModal = false; executionExtrinsicsStatus = undefined;"></button>
        </div>
    </div>
</p-dialog>

<p-toast></p-toast>