.sidebar {
    width: 270px;
    height: 100%;
    color: white;
    transition: margin-left 0.3s;
    overflow-x: hidden;
    background: #F43C70;
    flex: 1;
}

.collapsed {
    margin-left: -270px;
}

:host ::ng-deep .sidebar-menus {
    padding: 10px 20px 20px 20px;
    margin-top: 10px;
    width: 100%;
    background: #F43C70;
    border-radius: 0%;
    border: none;
}

:host ::ng-deep .p-menuitem-content {
    border-radius: 10px;
}

:host ::ng-deep .sidebar-menus a {
    background: #F43C70;
    padding: 17px;
    border-radius: 10px;
}

:host ::ng-deep .sidebar-menus a:active,
:host ::ng-deep .sidebar-menus a:focus {
    background: #e33768;
}

:host ::ng-deep .sidebar-menus a span {
    color: white !important;
    font-size: 16px;
}

:host ::ng-deep .sidebar-menus a:hover {
    background: #e33768;
}

:host ::ng-deep {
    .custom-icon-dashboard {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("./../../../../assets/sidebar/dashboard.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .custom-icon-liquidity {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("./../../../../assets/sidebar/liquidity.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .custom-icon-swap {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("./../../../../assets/sidebar/swap.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .custom-icon-transfer {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("./../../../../assets/sidebar/transfer.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}