// @import "primeng/resources/themes/lara-dark-pink/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

html,
body {
    margin: 0px;
    font-size: 14px;
}

.p-menubar {
    position: 'fixed';
    width: '100%';
    border-radius: 0;
}

.p-menubar-start {
    padding: 0 1rem;
}

.app-header-page {
    padding: 1.5rem;
}

.app-body-page {
    padding: 1.5rem;
}